#offset-title {
    padding: 1em 0;
}

/* BOX */

.box,
.inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    border: 1px solid white;
    background-color: #006cfa;
    padding: 1rem;

}

.inner-box {
    background-color: #00e165;
    border: 1px solid #006cfa;
}

#h80 {
    padding: 2rem;
}